body {
    font-family: Arial, sans-serif; /* Yazı tipi ailesi */
    font-size: 10px; /* <p></p> etiketindeki ana yazının boyutu */
    background-color: #303030; /* Web sayfasının arka plan rengi */
}

h1 {
    color: #ffc3c3; /* Başlık rengi */
    font-size: 100px; /* Başlık yazı tipi boyutu */
    font-family: Georgia, serif; /* Başlıkta kullanılan yazı tipi ailesi */
    text-align: center;
}

p {
    color: #ffffff;
    font-size: 40px;
    text-align: center;
}

strong {
    color: #ffffff;
    font-size: 40px;
    text-align: center;
}

ol {
    color: #ffffff;
    font-size: 40px;
    text-align: center;
}
h2 {
    color: #ffc3c3; /* Başlık rengi */
    font-size: 60px; /* Başlık yazı tipi boyutu */
    font-family: Georgia, serif; /* Başlıkta kullanılan yazı tipi ailesi */
    text-align: center;
}